main {
  text-align: center;
<<<<<<< HEAD
  font-size: 22px;
=======
  font-size: 2.2rem;
>>>>>>> e0070e2eafb3a46e1adf9122618f5137c54a15b6
  min-height: 60%;
  box-shadow: 1px 1px 5px rgba(142, 132, 184, 0.6);
  border-radius: 1rem;
  padding: 2rem;
}