footer {
  min-height: 20%;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  }



.footer__developer {
  display: flex;
  align-items: center;

  &-icon {
    width: 25px;
    margin-left: 0.5rem;
  }
}
