footer {
  min-height: 15%;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  }

.footer__developer {
  display: flex;
  align-items: center;

  &-icon {
    width: 2.5rem;
    margin-left: 0.5rem;
  }
}
